#room-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-left {
    padding-left: 2rem;
}

#nav-right {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

@media screen and (max-width:1000px) {
    #room-nav {
        display: block;
    }
    #nav-right {
        margin-top: 0.5rem;
        padding-left: 2rem;
    }
}

#search-submit {
    margin-bottom: 0;
}

#chat {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    padding: 0 2rem;
    height: 100%;
    margin: 2rem 3rem 0 3rem;
    flex-grow: 1;
    overflow-y: scroll;
    width: auto;
}

#messages p {
    width: 100%;
    overflow-wrap: break-word;
}

#messageForm {
    padding: 0 2rem;
    position: sticky;
    bottom: 0;
    margin: 1rem 3rem 0 3rem;
    width: 90%;
}

#messages p.others-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    color: black;
    background-color: var(--chat-color1);
}

#messages p.my-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    color: #000000;
    background-color: var(--chat-color2);
}

#emojiContainer {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    gap: 10px; /* Permet d'ajuster l'espace entre chaque emoji */
    flex-wrap: wrap; /* Permet de passer à la ligne quand la largeur est trop petite */
}

.emoji span {
    font-size: 1.5rem; /* Permet d'ajuster la taille des emoji */
}

.emoji:hover {
    cursor : pointer;
}

@media screen and (min-width:1000px) {
    #user_management_sections {
        display: flex;
    }
}

@media screen and (max-width:1000px) {
    #user_management_sections {
        display: block;
    }

    #user_management_sections > * {
        margin-bottom: 3rem;
    }
}

#user_management_sections > * {
    flex:1;
}

#user_management_sections {
    margin-top: 3rem;
}

#pending-requests ul {
    margin-top: 0.5rem;
}

.pending_request_container, .invite_container, .remove_user_container {
    display: inline-flex;
    align-items: center;
}

.pending_request_container button, .invite_container button,
.remove_user_container button {
    margin-bottom: 0;
}

.pending_request_container *, .invite_container *, .remove_user_container * {
    margin-right: 0.3rem;
}
