#room-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-left {
    padding-left: 2rem;
}

#nav-right {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

@media screen and (max-width:1000px) {
    #room-nav {
        display: block;
    }

    #nav-right {
        margin-top: 0.5rem;
        padding-left: 2rem;
    }
}

#search-submit {
    margin-bottom: 0;
}

#chat {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

#messages {
    padding: 0 2rem;
    height: 100%;
    margin: 2rem 3rem 0 3rem;
    flex-grow: 1;
    overflow-y: scroll;
    width: auto;
}

#messages p {
    width: 100%;
    overflow-wrap: break-word;
}


#chat-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2rem;
}
  
#input-container {
    display: flex;
    align-items: center;
}

#messageForm {
    padding: 0 2rem;
    position: sticky;
    bottom: 0;
    margin: 1rem 0 0 3rem;
    width: 50%;
}

#nav-seemore {
    vertical-align: top;
    width: 18rem;
    margin: 1rem 0 0 3rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}

#nav-seemore button {
    margin-bottom: 0;
}

#messages p.others-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    color: black;
    background-color: var(--chat-color1);
}

#messages p.my-message {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;
    color: #000000;
    background-color: var(--chat-color2);
}

@media screen and (min-width:1000px) {
    #user_management_sections {
        display: flex;
    }
}

@media screen and (max-width:1000px) {
    #user_management_sections {
        display: block;
    }

    #user_management_sections > * {
        margin-bottom: 3rem;
    }
}

#user_management_sections > * {
    flex:1;
}

#user_management_sections {
    margin-top: 3rem;
}

#pending-requests ul {
    margin-top: 0.5rem;
}

.pending_request_container, .invite_container, .remove_user_container {
    display: inline-flex;
    align-items: center;
}

.pending_request_container button, .invite_container button,
.remove_user_container button {
    margin-bottom: 0;
}

.pending_request_container *, .invite_container *, .remove_user_container * {
    margin-right: 0.3rem;

/* CSS spécifique aux émojis */

#categoryButtonsContainer {
    display : none;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    gap: 10px; /* Permet d'ajuster l'espace entre chaque emoji */
    flex-wrap: wrap; /* Permet de passer à la ligne quand la largeur est trop petite */
}

#emojiContainer {
    display : none;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    gap: 10px; /* Permet d'ajuster l'espace entre chaque emoji */
    flex-wrap: wrap; /* Permet de passer à la ligne quand la largeur est trop petite */
}

#emojiButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem; /* Permet d'ajuster la taille de l'émoji pour afficher les autres émojis */
    align-self: flex-start; /* Aligne le bouton au début de la div input-container dès que possible */
}

.categoryButton {
    background-color: transparent;
    border: solid;
    padding: 5px; /* Permet d'ajuster l'espace entre chaque bouton de catégorie et ses bordures */
    font-size: 1rem; /* Permet d'ajuster la taille des boutons des catégories */
}

.emojiButtons {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.5rem; /* Permet d'ajuster la taille des emojis */
}

#emojiButton:hover, .categoryButton:hover, .emojiButtons:hover {
    cursor: pointer;
}