@import url('https://fonts.googleapis.com/css?family=Roboto:700');

:root {
    --text-color: rgb(30, 30, 30);
    --highlight-color: rgb(220,220,220);
}

.dark-theme {
    --text-color: rgb(220,220,220);
    --highlight-color: rgb(30, 30, 30);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--highlight-color);
}

.header-logo {
    display: inline-block;
    text-decoration: none;
    width: 15%;
}


.header-title {
    display: inline-block;
    text-decoration: none;
}

#title {
    text-align:center;
    display: inline-block;
    margin-bottom: 10%;
}

#title a {
    text-decoration: none;
    font-size: 30px;
}

.header-menu {
    display: inline-block;
    margin: auto;
    width: 60%;
    height: 100%;
    text-decoration: none;
}

.header-menu ul {
    list-style-type: none;
    text-decoration: none;
}

.header-menu ul li {
    display: inline-block;
    padding: 5%;
}

.button a {
    margin: 20px;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    color: var(--highlight-color);
    background-color: var(--text-color);
}
