:root{
    --primary-color: rgb(32, 85, 32);
    --highlight-color: rgb(144, 238, 144);
    
}

.light-theme{
    --primary-color: #000;
    --highlight-color: rgb(170,170,170);
}



*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(170, 170, 170);
}