<!doctype HTML>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf_8"/>
        <title>ENSISINGERIE</title>
        {% block styles %}
            <link rel="stylesheet" href="{% static 'style.css' %}"/>
            <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="header-logo">
                <a href="{% url 'main:home' %}"><img src="{% static 'main/img/TODO' %}" alt="Logo" height="100px" width="100px" /></a>
            </div>

            <div class="header-title">
                <p id="title"><a href="{% url 'main:home' %}">ENSISINGERIE</a></p>
            </div>

            <div class="header-menu">
                <ul>
                    <li class="button"><a href="{% url 'users:login' %}">Connectez vous / Créez un compte</a></li>
                    <li class="button"><a href="{% url 'main:help' %}">Support</a></li>
                    <li class="param">
                        <input type="button" id="theme-switch">
                        <label for="theme-switch">
                            <img width="25px" height="25px" src="TODO" alt="Light Mode" draggable="false">
                            <img width="25px" height="25px" src="TODO" alt="Dark Mode" draggable="false">
                        </label>
                    </li>
                </ul>
            </div>
        </header>

        <section>
            {% block content %} {% endblock %}
        </section>

        <footer>
            <p>Projet web ENSISA groupe Antropius/Desmonteix/Sénéchal</p>
        </footer>

        {% block js %}
            <!-- spript jquery -->
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <!-- script de base -->
            <script type="text/javascript" src="{% static 'script.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
        {% endblock %}
    </body>
</html>
