{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div>
    <h2>Bonjour {{ user.username|default:'invité' }} !</h2>
</div>

<div id="index-content">
    <div id="left">
        <div id="welcome-section">
            <h3>Bienvenue sur Ensisingerie, la messagerie qui simplifie la
                communication et la collaboration.</h3>
            {% if not user.is_authenticated %}
            <p>Connectez-vous ou créez un compte pour commencer.</p>
            {% endif %}
        </div>

        <div id="updates-section">
            <h3>Dernières mises à jour et annonces</h3>
            <ul>
                <li>Nouvelle fonctionnalité : Possibilité de modifier son mot de
                    passe</li>
                <li>Amélioration de l'interface utilisateur</li>
                <li>Bientôt : possibilité de créer un salon de discussion !</li>
            </ul>
        </div>

        <div id="features-section">
            <h3>Fonctionnalités principales</h3>
            <ul>
                <li>Communication instantanée</li>
                <li>Gestion intuitive des messages</li>
                <li>Sécurité avancée des données</li>
            </ul>
        </div>

        <div id="illustration-section">
            <img id="carrousel" src="{% static 'main/images/singes0.jpg' %}"
                 class="img-fluid" alt="Photo de singe"
                 data-static-url="{% static 'main/' %}" width="100%">
            <p id="image-description"></p>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div id="right">
        <div id="rooms-section">
            <div id="your-rooms-and-invitations">
                <div>
                    <h3>Vos salons</h3>
                    <div id="your-rooms"></div>
                </div>
                <div>
                    <h3>Invitations de salons reçues</h3>
                    <div id="rooms-invitations"></div>
                </div>
            </div>
            <div id="your_requests_and_accepted_requests">
                <div>
                    <h3>Demandes en attente</h3>
                    <div id="your-requests"></div>
                </div>
                <div>
                    <h3>Demandes acceptées</h3>
                    <div id="accepted_requests"></div>
                </div>
            </div>
            <h3>Rechercher un salon</h3>
            <div id="search-room">
                <form id="room-search-form">
                    <input type="text" id="room-search-input"
                           placeholder="Rechercher par nom">
                    <input type="submit" value="Rechercher"/>
                </form>

                <div id="room-search-results"></div>
            </div>
            <div id="create-room">
                <h3><a href="{% url 'rooms:create' %}" class="type1">Créer un
                    salon</a></h3>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'main/js/index_script.js' %}">
</script>
{% endblock %}