{% extends "rooms/base.html" %}
{% load static %}

{% block content %}
<div id="room-nav">
    <div id="nav-left">
        <h2>{{ room.name }}</h2>
    </div>

    <div id="nav-middle">
        <form id="seeMoreForm">
            <button type="submit" class="in_body_button">Voir Plus</button>
        </form>
    </div>

    <div id="nav-right">
        <div id="search-room">
            <form id="search-form">
                <input type="text" id="search-input"
                       placeholder="Inviter un utilisateur">
                <input type="submit" value="Rechercher" id="search-submit"/>
            </form>

            <div id="search-results"></div>
        </div>
    </div>

</div>

<div id="chat">
    <div id="messages"></div>
    <form id="messageForm">
        <input type="text" id="messageInput" autocomplete="off" />
        <button type="submit" class="in_body_button">Envoyer</button>
    </form>
</div>

<script type="text/javascript" src="{% static 'rooms/js/message_script.js' %}"
        data-room-id="{{ room.id }}"
        data-csrf-token="{{ csrf_token }}"></script>
{% endblock %}
