{% load static %}
{% for message in messages %}
    <div class="{% if message.sender == user %}my-message{% else %}others-message{% endif %}">
        <div class="header-message">
            <p>{{ message.sender.username }} | <span
                    class="{% if message.sender == user %}my-timestamp{% else %}others-timestamp{% endif %}">
                {{ message.publication_date}}</span>
            </p>
        </div>
        <div>
            <p>{{ message.text}}</p>
            {% if not message.is_deleted %}
                {% if room.owner == user or message.sender == user %}
                    <!-- Source de l'icône: https://icons8.com/icon/87397/waste (lien obligatoire)-->
                    <p>
                        <span class="visually-hidden">
                            <a target="_blank" href="https://icons8.com/icon/87397/waste">Waste</a>
                            icon by
                            <a target="_blank" href="https://icons8.com">Icons8</a>
                        </span>
                    </p>
                    <button class="remove-message-btn" data-message-id="{{ message.id }}">
                        <img src="{% static 'rooms/images/trash-bin.png' %}"
                             alt="Supprimer" class="Red-bin"
                             data-original-src="{% static 'rooms/images/trash-bin.png' %}"
                             data-hover-src="{% static 'rooms/images/trash-bin2.png' %}"/>
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}