{% if your_rooms %}
<ul>
    {% for room in your_rooms %}
    <li><a href="{% url 'rooms:detail' room.id %}"
           class="type1">{{ room.name }}
    {% if room.owner == user %}(Propriétaire){% endif %}
    </a>
    {% if not room.owner == user %}
    <button class="remove-user-btn in_body_button"
            data-room-id="{{ room.id }}"
            data-user-id="{{ user.id }}">quitter</button>
    {% endif %}</li>
    {% endfor %}
</ul>
{% else %}
    <p>Il semble que vous ne soyez inscrit dans aucun salon.</p>
{% endif %}