{% if your_rooms %}
<ul>
    {% for room in your_rooms %}
    <li>
        <div class="room-container">
            <a href="{% url 'rooms:detail' room.id %}"
               class="type1">{{ room.name }}</a>
            {% if room.owner == user %}
            <p>(Propriétaire)</p>
            {% else %}
            <button class="remove-user-btn in_body_button"
                    data-room-id="{{ room.id }}"
                    data-user-id="{{ user.id }}">Quitter</button>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>Il semble que vous ne soyez inscrit dans aucun salon.</p>
{% endif %}